.grid {
    display: table;
  }
  
  .xGrid{
    display: table-row;
  }
  
  .Title {
    display: table-cell;
    height: 60px;
    width: 60px;
    background-color: green;
    padding: 10px;
    border: 1px solid white;
  }
  
  .Tile.snake {
    background-color: #333;
  }
  
  .Tile.food {
    background-color: #ff0000;
  }